/* global */
	body {
		font: {
			family: $font-base;
			weight:400;
			size: 20px;
			margin:0; padding:0;
		}
		line-height: 1.7;
		text-align: center;
		background:#fff;
		color: $grey-dark;
		// don't forget to remove
			@include mediaQ(small) {
				background:pink;
			}
			@include mediaQ(medium) {
				background: coral;
			}
			@include mediaQ(large) {
				background: orange;
			}
	}
	
	// default link styles
	a {color:$meltBlue;}
	a:hover, a:visited {color:$grey;}
	
	h1, h2, h3, h4, h5, h6 {
		font: {
			family: $font-special;
			weight:300;
		}
		color: $grey-dark;
	}
	h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {font-weight: 700;}
	h2 {font-size:44px;}
	h3 {font-size:31px;}
	
	header, footer, section {
		width:100%;
	}
	
	.sectInner {
		margin: 0 auto;
		padding: 0.5em 0;
		width:95%;
		@extend %clearfix; // ............. you don't actually need this
		@include mediaQ(small) {
			width:90%;
			//max-width: 960px;
			outline:1px solid green;
		}
		@include mediaQ(medium) {
			//width:85%;
			//max-width: 1000px;
		}
		@include mediaQ(large) {
			//width:80%;
			max-width: 1200px;
		}
	}

