
/* HEADER */
	header {
		background:$grey-light;
		border-bottom:1px solid $grey;
		z-index:1;
		@include mediaQ(small) {
			position:absolute;
			top:0;
			background:none;
			border-bottom:none;
			& .sectInner {
				display:flex;
				justify-content: center;
				align-items: center;
				padding:0.5em 0;
			}
		}
	}
	.brand {
		display:block;
		margin:0 auto;
		width:40px; height:40px;
		text-decoration: none;
		#meltLogo {
			width:100%; height:100%;
			fill: $meltBlue;
		}
		h1 {
			display:none;
		}
		@include mediaQ(small) {
			width:auto;	
			margin:0 auto 0 0; 
			align-self: flex-start;
			& #meltLogo {
				width:auto;
				fill:$white;
				vertical-align: middle;
				transition: all 0.2s ease-out;
			}
			&:hover #meltLogo {
				fill: adjust-color($meltBlue, $saturation: -5%, $lightness: 15% );
			}
			h1 {
				display:inline-block;
				font-size:25px;
				height:40px; line-height: 40px;
				color:$grey-light;
				margin:0;
				width:0; overflow: hidden;
				vertical-align: middle;
				text-align: left;
				text-shadow:-1px 1px 1px $grey-dark;
				opacity:0;
				transition: all 0.4s ease-out;
				font-weight: 300;
				b {
					font-weight: 400;
					font-style: italic;
				}
			}
			&:hover h1 {
				color: adjust-color($meltBlue, $saturation: 5%, $lightness: 20% );
				opacity:1;
				width:125px;
			}
		}
	}
	.mainNav {
		ul {
			display:table;
			width:100%; max-width: 450px;
			margin:10px auto 0 auto;
		}
		li {
			display:table-cell;
		}
		a {
			color:$grey;
			text-decoration: none;
			font-family: $font-special;
			font-size: 12px;
			transition: all 0.2s ease-out;
			&:hover {
				color: adjust-color($meltBlue, $saturation: 5%, $lightness: 15% );
			}
			&.current {
				padding-bottom:3px;
				border-bottom:1px solid $meltBlue;
			}
		}
		@include mediaQ(small) {
			& ul {
				display:block;
				max-width: 600px;
				margin:0 auto 0 auto;
			}
			& li {
				display: inline-block;
				margin:0 15px;
				&:last-of-type {margin:0 0 0 15px;}
			}
			& a {
				font-size:13px;
				color:$white;
				text-transform: uppercase;
				&.current {
					border-bottom:2px solid $grey-dark;
				}
			}
		}
	}
	
	
/* FOOTER */
	footer {
		background: $meltBlue;
		font-family: $font-special;
		font-size: 16px;
		font-weight: 100;
		color:$white;
		padding:2em 0;
		b {
			font-weight: 600; // why would i have to do that?
		}
		.sectInner {
			max-width: 275px;
			@include mediaQ(special, 450px) {
				max-width: 960px;	
			}
		}
	}