
/* HERO */
	.hero {
		position:relative;
		overflow: hidden;
		padding:2em 0;
		color:$white;
		text-shadow:-1px 1px 1px fade-out($grey-dark,0.4);
		&:before {
			content:'';
			background: {
				color:$meltBlue;
				image: url(img/bgHero-sm.jpg);
				position: center center;
				repeat: no-repeat;
				attachment: fixed;
				size: cover;
			}
			position:fixed;
			top:0; left:0; right:0;
			height:120vh;
			z-index:-1;
		}
		.figure {
			width:40%; 
			max-width: 250px;
			min-width: 200px;
			margin:1em auto;
		}
		p {
			width:90%;
			margin:auto;
			text-align: justify;
		}
		@include mediaQ(special, 0px, 767px) {
			.sectInner {
				max-width: 450px;
			}
		}
		@include mediaQ(small) {
			padding:6em 0 2em 0;
			background: {
				color:$meltBlue;
				image: url(img/bgHero.jpg);
				position: center center;
				repeat: no-repeat;
				size: cover;
			}
			&:before {
				background: none;
			}
			.sectInner {
				display:flex;
				justify-content: center;
				align-items: center;
				flex-direction: row-reverse;
			}
			.figure {
				width:40%;
				max-width: 300px;
				margin: 0 0 0 3%;
			}
			.blurb {
				width:50%;
				max-width: 375px;
				margin: 0 3% 0 0;
			}
			& h2, & p {
				text-align: left;
				width:100%;
			}
			p {line-height: 1.7;}
		}
		@include mediaQ(medium) {
			.figure {
				max-width: 400px;
			}
			p{line-height: 2;}
		}
	}

/* WHAT WE DO */
	.whatWeDo {
		background:#fff;
		padding:2em 0;
		.sectInner {
			width:80%;
			max-width: 600px;
			margin:auto;
		}
		h2 {
			color:$meltBlue;
		}
		img {
			width:90%;
			max-width: 450px;
			margin:2em auto;
		}
	}

/* CALL FOR SUPERHEROES */
	.careers {
		background: {
			color:$meltBlue;
			image: url(img/bgCareers-sm.jpg);
			position: center center;
			repeat: no-repeat;
			size: cover;
		}
		text-shadow:-1px 1px 1px fade-out($grey-dark,0.4);
		.sectInner {
			padding:2em 0;
		}
		h2 {
			color:$white;
		}
		@include mediaQ(small) {
			background-image: url(img/bgCareers.jpg);
		}
	}

/* VIDEO */
	.video {
		background:$white;
		.sectInner {
			width:80%;
			max-width: 700px;
			padding:3em 0;
		}
	}
	.embedWrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}
	.embedWrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
/* GET IN TOUCH */
	.getInTouch {
		background: $meltBlue;
		display:flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		overflow: hidden;
		.map {
			width:175%;
			max-width: 768px;
			text-align: center;
			overflow: hidden;
			z-index: 0;
			img {
				width:100%;
				margin:auto;
			}
		}
		.contactInfo {
			color:$white;
			margin:2em auto;
			text-align: left;
			b {
				font-size: 1.1em;
				font-weight: 600;
				display:inline-block;
				margin-top:0.5em;
			}
			a {
				color:$white;
				text-decoration: none;
				&:hover {
					color:$grey-light;
					text-decoration: underline;
				}
			}
		}
		.socMedia {
			li {
				display:inline-block;
				margin:5px;
			}
			a {
				display:inline-block;
				width:30px; height:30px;
				font-size: 0;
				text-indent: -9999999em;
				overflow: hidden;
				background-size: 30px 30px;
				&:hover {
					opacity:0.8;
				}
			}
			.socMedia-fb {background-image:url(img/icon-facebook.svg); margin:0 -6px;}
			.socMedia-twit {background-image:url(img/icon-twitter.svg);}
			.socMedia-linkd {background-image:url(img/icon-linkedin.svg);}
			.socMedia-insta {background-image:url(img/icon-instagram.svg);}
		}

		@include mediaQ(special, 640px) {
			background: $white;
			position: relative;
			flex-direction: row;
			.map {
				width:100%;
				max-width: none;
				position:relative;
				z-index: 1;
			}
			.contactInfo {
				position:absolute;
				top:0; bottom:0; left:25%; max-width:275px;
				display:table-cell; vertical-align: middle;
				transform: translateX(-50%);
				z-index: 2;
				display: flex;
				align-items: center;
				div {
					background:fade-out($meltBlue, 0.15);
					padding:0.5em 2em;
					box-shadow: -2px 2px 5px fade-out($grey-dark,0.4);
					text-shadow: -1px 1px 1px fade-out($grey-dark,0.4);
				}
			}
		}
	}

/* CONTACT US */
	.contact {
		background:$white;
		padding:2em 0;
		h2 {
			color:$meltBlue;
		}
		p {
			max-width: 300px;
			margin: auto;
		}
		form {
			text-align: left;
			width:80%;
			max-width:450px;
			margin:1em auto;
		}
		form label {
			display:block;
			margin:1em 0 0.1em 0;
		}
		& form input, & form textarea {
			font-family: $font-base;
			font-size: 12px;
			color:$grey;
			border:1px solid $grey;
			padding:3px;
			width:100%;
			margin: 0;
		}
		& form input:focus, & form textarea:focus {
			border:1px solid $meltBlue;
			color:$grey-dark;
			background:fade-out($meltBlue, 0.95);
		}
		& form textarea {
			height:100px;
		}
		form .button {
			color:$meltBlue;
			border:2px solid $meltBlue;
			background: none;
			font-size:16px;
			&:hover {
				background:$grey-light;
				cursor: pointer;
			}
		}
		@include mediaQ(small) {
			form {
				max-width: 700px;
			}
			form .name, form .email {
				width:47%;
				display: inline-block;
			}
			form .name {
				margin-right: 5%;
			}
		}
		
	}