/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 | License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sectInner:after {
  content: "";
  display: table;
  clear: both;
}

/* global */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-margin: 0;
  font-padding: 0;
  line-height: 1.7;
  text-align: center;
  background: #fff;
  color: #666;
}
@media only screen and (min-width: 768px) {
  body {
    background: pink;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    background: coral;
  }
}
@media only screen and (min-width: 1300px) {
  body {
    background: orange;
  }
}

a {
  color: #89b8ea;
}

a:hover, a:visited {
  color: #999;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "adelle", "adelle PE", "adelleBasic", Times, serif;
  font-weight: 300;
  color: #666;
}

h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
  font-weight: 700;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 31px;
}

header, footer, section {
  width: 100%;
}

.sectInner {
  margin: 0 auto;
  padding: 0.5em 0;
  width: 95%;
}
@media only screen and (min-width: 768px) {
  .sectInner {
    width: 90%;
    outline: 1px solid green;
  }
}
@media only screen and (min-width: 1300px) {
  .sectInner {
    max-width: 1200px;
  }
}

/* header */
header {
  background: #eee;
  border-bottom: 1px solid #999;
}
@media only screen and (min-width: 768px) {
  header {
    position: absolute;
    top: 0;
    background: rgba(255, 0, 0, 0.5);
    border-bottom: none;
  }
  header .sectInner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.brand {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  text-decoration: none;
}
.brand #meltLogo {
  width: 100%;
  height: 100%;
  fill: #89b8ea;
}
.brand h1 {
  display: none;
}
@media only screen and (min-width: 768px) {
  .brand {
    width: auto;
    margin: 0 auto 0 0;
    align-self: flex-start;
  }
  .brand #meltLogo {
    width: auto;
    fill: #fff;
    vertical-align: middle;
    transition: all 0.3s ease-out;
  }
  .brand:hover #meltLogo {
    fill: #89b8ea;
  }
  .brand h1 {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 0;
    overflow: hidden;
    vertical-align: middle;
    text-align: left;
    color: #89b8ea;
    opacity: 0;
    transition: all 0.5s ease-out;
  }
  .brand:hover h1 {
    opacity: 1;
    width: 120px;
  }
}

.mainNav ul {
  display: table;
  width: 100%;
  max-width: 450px;
  margin: 10px auto 0 auto;
}
.mainNav li {
  display: table-cell;
}
.mainNav a {
  color: #999;
  text-decoration: none;
  font-family: "adelle", "adelle PE", "adelleBasic", Times, serif;
  font-size: 12px;
  transition: all 0.3s ease-out;
}
.mainNav a:hover {
  color: #89b8ea;
}
.mainNav a.current {
  padding-bottom: 3px;
  border-bottom: 1px solid #89b8ea;
}
@media only screen and (min-width: 768px) {
  .mainNav ul {
    display: block;
    max-width: 600px;
    margin: 0 auto 0 auto;
  }
  .mainNav li {
    display: inline-block;
    margin: 0 10px;
  }
  .mainNav li:last-of-type {
    margin: 0 0 0 10px;
  }
  .mainNav a {
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
  }
  .mainNav a.current {
    border-bottom: 2px solid #666;
  }
}

/* footer */
footer {
  background: #89b8ea;
  font-family: "adelle", "adelle PE", "adelleBasic", Times, serif;
  font-size: 16px;
  font-weight: 100;
  color: #fff;
  padding: 2em;
}
footer b {
  font-weight: 600;
}

/* hero */
.hero {
  margin-top: 5em;
}

/* what we do */
/* call for superheros */
/* video */
.embedWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.embedWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* get in touch */
/* contact us */
